@import '../node_modules/antd/dist/antd.css';
@import 'assets/scss/variables/variables.scss';
// @import 'assets/scss/global';
// @import 'assets/scss/utilities/utilities';

body {
  font-family: $font-family-base;
  background-color: $body-bg;
  color: $body-color;
  overflow-x: hidden;
}

// .ant-layout {
//   background: transparent;
// }

// .ant-layout-sider {
//     background: #fff;
// }

// .ant-layout-sider-trigger {
//   background: #303030;
// }

.ant-menu-item-selected {
    color: $primary;
  }
  
  .ant-menu-submenu-selected{
    color: $primary;
  }

  .ant-menu-light .ant-menu-submenu-title:hover {
    color: $primary;
}

.ant-menu-light .ant-menu-item:hover {
    color: $primary;
}



@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

.ant-menu {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-semibold;
    color: $menu-text;
  
    &:not(.ant-menu-horizontal) {
      .ant-menu-item-selected {
        @include background-opacity($primary, 0.1);
  
        a {
          color: $primary;
        }
      }
    }
  
    &:not(.ant-menu-dark) {
      a {
        color: $menu-text;
  
        &:hover,
        &:focus {
          text-decoration: none;
        }
  
        &:hover {
          color: $primary;
        }
      }
    }
  
    &.ant-menu-dark {
      background: $menu-dark-bg;
  
      .ant-menu-item-selected {
        background-color: transparent;
        color: $white;
      }
    }
  }

  .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: $primary;
  }

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left,
.ant-menu-vertical-right {
  .ant-menu-item {
    &:after {
      border-right: 3px solid $primary;
    }
  }
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    color: $primary
}

.site-layout-background {
  background: #fff;
}

.ant-menu-vertical .ant-menu-submenu-selected {
  color: $primary
}

// sider animation

// .ant-layout-sider {
//   position: relative;
//   /* fix firefox can't set width smaller than content on flex item */
//   min-width: 0;
//   background: #001529;
//   transition: all 0.2s;
// }
// .ant-layout-sider-children {
//   height: 100%;
//   margin-top: -0.1px;
//   padding-top: 0.1px;
// }
// .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
//   width: auto;
// }
// .ant-layout-sider-has-trigger {
//   padding-bottom: 48px;
// }
// .ant-layout-sider-right {
//   order: 1;
// }
// .ant-layout-sider-trigger {
//   position: fixed;
//   bottom: 0;
//   z-index: 1;
//   height: 48px;
//   color: #fff;
//   line-height: 48px;
//   text-align: center;
//   background: #002140;
//   cursor: pointer;
//   transition: all 0.2s;
// }
// .ant-layout-sider-zero-width > * {
//   overflow: hidden;
// }
// .ant-layout-sider-zero-width-trigger {
//   position: absolute;
//   top: 64px;
//   right: -36px;
//   z-index: 1;
//   width: 36px;
//   height: 42px;
//   color: #fff;
//   font-size: 18px;
//   line-height: 42px;
//   text-align: center;
//   background: #001529;
//   border-radius: 0 2px 2px 0;
//   cursor: pointer;
//   transition: background 0.3s ease;
// }
// .ant-layout-sider-zero-width-trigger::after {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: transparent;
//   transition: all 0.3s;
//   content: '';
// }
// .ant-layout-sider-zero-width-trigger:hover::after {
//   background: rgba(255, 255, 255, 0.1);
// }
// .ant-layout-sider-zero-width-trigger-right {
//   left: -36px;
//   border-radius: 2px 0 0 2px;
// }
// .ant-layout-sider-light {
//   background: #fff;
// }
// .ant-layout-sider-light .ant-layout-sider-trigger {
//   color: rgba(0, 0, 0, 0.85);
//   background: #fff;
// }
// .ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
//   color: rgba(0, 0, 0, 0.85);
//   background: #fff;
// }